.page404Container {
    height: 100vh;
    position: relative;
    background-color: white;
}

.logo {
    width: 16em;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.img404 {
    width: 20em;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contentContainer {
    height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
}